html {
    background-color: white;
    text-align: center;
    font-size: medium;   
}
div {
    text-align:center;
}
button {
    margin: 1%;
}

form {  
    display: inline-block;
    text-align:right;
}
